  <footer>
      <div class="footer-top">
        <!-- Navigation rapide -->
        <div class="footer-nav">
          <h6>Navigation rapide</h6>
          <ul>
            <li class="nav-link"><a href="#">Accueil</a></li>
            <li class="nav-link"><a href="#">Scolaire et Groupes</a></li>
            <li class="nav-link"><a href="#">Grand public</a></li>
            <li class="nav-link"><a href="#">Camping</a></li>
            <li class="nav-link"><a href="#">Événements</a></li>
            <li class="nav-link"><a href="#">Contact</a></li>
          </ul>
        </div>

        <!-- Logo -->
        <div class="footer-logo">
          <nuxt-link to="/" class="logo">
            <img src="/images/logo.svg" alt="Logo de La ferme pédagogique de Jean" width="150" />
          </nuxt-link>
        </div>


        <!-- Contact -->
        <div class="footer-contact">
          <h6>Contact</h6>
          <ul>
            <li>La ferme pédagogique de Jean</li>
            <li>
              <a href="mailto:jpcoti@cgfilm-camargue.com">jcdaguzan@laferme pedagogiquedejean.com</a>
            </li>
            <li>La Matarelle</li>
            <li>11400 Laurabuc</li>
            <li>06 29 26 37 58</li>
          </ul>
        </div>
      </div>
      <!-- Crédits -->
      <div class="footer-credits">
        <p>&copy; 2025 La ferme de Jean. Tous droits réservés.</p>
      </div>
  </footer>