<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
         <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    
        {% block meta %}
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>
    {% include 'partials/header.html.twig' %}

    <main>
        {% block body %}{% endblock %}
    </main>
    {% include 'partials/footer.html.twig' %}

    {% block javascripts %}
        <script src="{{ asset('build/app.js') }}"></script>
    {% endblock %}

    </body>
</html>

<script>document.addEventListener("DOMContentLoaded", function () {
    const hamburger = document.querySelector(".hamburger");
    const navigation = document.querySelector(".nav-links");

    // Gestion de l'ouverture/fermeture du menu mobile
    hamburger.addEventListener("click", function () {
        this.classList.toggle("open");
        navigation.classList.toggle("open");
        document.body.classList.toggle("no-scroll"); // Bloque le scroll en arrière-plan
    });

    // Fermer le menu en cliquant en dehors
    document.addEventListener("click", function (event) {
        if (!hamburger.contains(event.target) && !navigation.contains(event.target)) {
            hamburger.classList.remove("open");
            navigation.classList.remove("open");
            document.body.classList.remove("no-scroll");
        }
    });

});
</script>


